# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.h5         filter=lfs diff=lfs merge=lfs -binary
*.onnx       filter=lfs diff=lfs merge=lfs -binary
*.pb         filter=lfs diff=lfs merge=lfs -binary
*.ipynb      filter=lfs diff=lfs merge=lfs -binary
